 <%- include('includes/head') %>
    <header>
        <%- include('includes/header_top'); %>
            <%- include('includes/header_nav'); %>
    </header>


    <body>
        <div id="page" class="site page-category">
            <div id="page" class="site">
                <aside class="site-off desktop-hide">
                    <div class="off-canvas">
                        <div class="canvas-head">
                            <div class="logo">
                                <a href="/"><span class="circle"></span>GOG</a>
                            </div>
                            <a href="#" class="t-close flexcenter"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                        <div class="departments"></div>
                        <nav></nav>
                        <div class="thetop-nav"></div>
                    </div>
                </aside>
                <header>

                </header>
                <main>
                    <div class="single-cart">
                        <div class="container">
                            <div class="wrapper">
                                <div class="breadcrumb">
                                    <ul class="flexitem">
                                        <li><a href="#">Home</a></li>
                                        <li>Cart</li>
                                    </ul>
                                </div>
                                <div class="page-title">
                                    <h1>Shopping cart</h1>
                                </div>
                                <div class="products one cart" id="#totalss">
                                    <div class="flexwrap">
                                        <form action="" class="form-cart">
                                            <div class="item">
                                                <table id="cart-table">
                                                    <% if(cartitems){ %>
                                                        <thead>
                                                            <tr>
                                                                <th>Item</th>
                                                                <th>Price</th>
                                                                <th>Qty</th>
                                                                <th>SubTotal</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0; i<cartitems.length; i++){ %>
                                                                <tr>
                                                                    <td class="flexitem">
                                                                        <div class="thumbnail object-cover">
                                                                            <a href="#">
                                                                                <img src="/<%= cartitems[i].imagePath %>"
                                                                                    alt="">
                                                                            </a>
                                                                        </div>
                                                                        <div class="content"><strong><a href="#">
                                                                                    <%= cartitems[i].title%>
                                                                                </a></strong>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <%= cartitems[i].price/cartitems[i].qty %>
                                                                    </td>
                                                                    <td>
                                                                        <%= cartitems[i].qty %>
                                                                    </td>
                                                                    <td>
                                                                        <%= cartitems[i].price %>
                                                                    </td>
                                                                    <td><a href="/reduce/<%= cartitems[i].productId%>"
                                                                            class="item-remove">
                                                                            <input type="button" value="Remove"></a>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                        <% }else{ %>
                                                            <thead>
                                                                <tr>
                                                                    <th>Empty Cart</th>
                                                                </tr>
                                                            </thead>
                                                            <% } %>
                                                </table>
                                            </div>
                                        </form><br><br>
                                        <div class="cart-summary styled">
                                            <div class="item">
                                                <div class="cart-total">
                                                    <table>
                                                        <tbody>
                                                            <% if(cartitems){ %>
                                                                <tr>
                                                                    <% var count=0;for(let i=0; i<cartitems.length;
                                                                        i++){count+=cartitems[i].price %>
                                                                        <% } %>
                                                                            <th>Subtotal</th>
                                                                            <td>INR. <%= count %>
                                                                            </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Shipping Taxes(2%)</th>
                                                                    <td>INR. <%= (count*0.02).toFixed(2) %>
                                                                    </td>
                                                                </tr>
                                                                <tr class="grand-total">
                                                                    <th>Total</th>
                                                                    <td>
                                                                        <%= (count*1.02).toFixed(2) %>
                                                                    </td>
                                                                </tr>
                                                                <% }else{ %>
                                                                    <% } %>

                                                        </tbody>
                                                    </table>
                                                    <% if(cartitems){ %>
                                                        <a href="/checkout" class="secondary-button">Check out </a>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('includes/footer', categories) %>
            </div>
            <script src="js/script.js"></script>
    </body>
   

    </html>