<%- include('includes/head') %>
<body>
    <header>
        <%- include('includes/header_top'); %>
        <%- include('includes/header_nav'); %>
            <!-- <%- include('includes/header_main'); %> -->
    </header>
    <div id="page" class="site page-category">
        <main>
            <div class="single-category">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="holder">
                                <div class="row sidebar">
                                    <div class="filter">
                                        <div class="filter-block">
                                            <h4>Category</h4>
                                            <% for(let i=0; i<categories.length; i++){ %>
                                                <ul>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="<%= categories[i].title %>">
                                                        <label for="<%= categories[i].title %>">
                                                            <span class="checked"></span>
                                                            <span><%= categories[i].title %></span>
                                                        </label>
                                                        <span class="count">15</span>
                                                    </li>
                                                </ul>
                                                <% } %>
                                        </div>
                                        <div class="filter-block">
                                            <h4>Brands</h4>
                                            <% for(let i=0; i<req_products.length; i++){ %>
                                                <ul>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="<%= req_products[i] %>">
                                                        <label for="<%= req_products[i] %>">
                                                            <span class="checked"></span>
                                                            <span><%= req_products[i] %></span>
                                                        </label>
                                                        <span class="count">15</span>
                                                    </li>
                                                </ul>
                                                <% } %>
                                        </div>

                                        <!-- <div class="filter-block products">
                                            <h4>Color</h4>
                                            <ul class="bycolor variant flexitem">
                                                <li>
                                                    <input type="radio" name="color" id="cogrey">
                                                    <label for="cogrey" class="circle"></label>

                                                </li>
                                                <li>
                                                    <input type="radio" name="color" id="coblue">
                                                    <label for="coblue" class="circle"></label>

                                                </li>
                                                <li>
                                                    <input type="radio" name="color" id="cogreen">
                                                    <label for="cogreen" class="circle"></label>

                                                </li>
                                                <li>
                                                    <input type="radio" name="color" id="colight">
                                                    <label for="colight" class="circle"></label>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="filter-block pricing">
                                            <h4>Price</h4>
                                            <div class="byprice">
                                                <div class="range-track">
                                                    <input type="range" value="25000" min="0" max="100000">
                                                </div>
                                                <div class="price-range">
                                                    <span class="price-form">$50</span>
                                                    <span class="price-to">$500</span>
                                                </div>
                                            </div>

                                        </div> -->
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="row">
                                        <div class="cat-head">
                                            <div class="breadcrumb">
                                                <ul class="flex-item">
                                                    <li><a href="/">Home / Mobiles</a></li>
                                                    <!-- <li>Mobiles</li> -->
                                                </ul>
                                            </div>
                                            <div class="page-title">
                                            
                                            <h1><%= category %></h1>
                                            </div>
                                            <div class="cat-description">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima,
                                                    vel, alias hic
                                                    unde quo incidunt quaerat facilis esse tenetur eum voluptatibus
                                                    cumque dolorum
                                                    sunt quasi enim adipisci possimus, animi molestias iusto. Eius
                                                    aliquam veritatis
                                                    fugiat est voluptatem quam, itaque inventore amet accusamus possimus
                                                    fugit
                                                    doloribus dolorum, dolores illo sit? Numquam?
                                                </p>
                                            </div>
                                            <div class="cat-navigation flexitem">
                                                <div class="item-filter desktop-hide">
                                                    <a href="#" class="filter-trigger label">
                                                        <!-- <i class="ri-menu-2-line ri-2x">
                                                            <span>filter</span>
                                                        </i> -->
                                                    </a>
                                                </div>
                                                <div class="item-sortir">
                                                    <div class="label">
                                                        <span class="mobile-hide">Sort by default</span>
                                                        <div class="dektop-hide">default</div>
                                                        <!-- <i class="ri-arrow-down-s-line"></i> -->
                                                    </div>
                                                    <ul>
                                                        <li>Default</li>
                                                        <li>Product Name</li>
                                                        <li>Price</li>
                                                        <li>Brand</li>
                                                    </ul>
                                                </div>
                                                <div class="item-perpage mobile-hide">
                                                    <div class="label">Items 10 per page</div>
                                                    <!-- <div class="dektop-hide">10</div> -->
                                                    <!-- <i class="ri-arrow-down-s-line"></i> -->

                                                </div>
                                                <div class="item-options">
                                                    <div class="label">
                                                        <span class="mobile-hide">Show 10 per page</span>
                                                        <div class="dektop-hide">10</div>
                                                        <!-- <i class="ri-arrow-down-s-line"></i> -->
                                                    </div>
                                                    <ul>
                                                        <li>10</li>
                                                        <li>20</li>
                                                        <li>30</li>
                                                        <li>ALL</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products main flexwrap">
                                    <% for(let i=0; i<products.length; i++){ %>
                                        <div class="item">
                                            <div class="media">
                                                <div class="image object-cover">
                                                    <a href="/products/<%=products[i].category %>/<%=products[i]._id%>">
                                                        <img src="/<%= products[i].imagePath %>" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="/add-to-wishlist/<%= products[i]._id %>"><i class="fa-regular fa-heart"></i></a>
                                                        </li>
                                                        <li><a href="/products/<%=products[i].category %>/<%=products[i]._id%>"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-random" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h3 class="main-links"><a href="/products/<%=products[i].category %>/<%=products[i]._id%>"><%= products[i].title %></a></h3>
                                                <div class="rating">
                                                    <div class="stars"></div>
                                                    <span class="mini-text">(<%= products[i].reviewed %>)</span>
                                                </div>
                                                <div class="price">
                                                    <span class="current">INR.<%= products[i].price %></span>
                                                    <span class="normal mini-text">INR.<%= products[i].mrp %></span>
                                                </div>
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li><%= products[i].features1 %></li>
                                                        <li><%= products[i].features2 %></li>
                                                        <li><%= products[i].features3 %></li>
                                                        <li><%= products[i].features4 %></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    </div>
                                    <div class="section">
                                        <div class="products main flexwrap"></div>
                                        <div class="load-more flexcenter">
                                            <a href="#" class="secondary-button">Load More</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </main>
        
        <%- include('includes/footer', categories); %>
    </div>
    <script src="/js/script.js"></script>
    <script>
        const FtoShow = '.filter';
        const Fpopup = document.querySelector(FtoShow);
        const Ftrigger = document.querySelector('.filter-trigger');

        Ftrigger.addEventListener('click', () => {
            setTimeout(() => {
                if(!Fpopup.classList.contains('show')){
                    Fpopup.classList.remove('show')
                }
            }, 250)
        })
        //auto close by clicking outside .filter
        document.addEventListener('click', (e) => {
            const isCloset = e.target.closest(FtoShow);
            if(!isCloset && Fpopup.classList.contains('show')){
                Fpopup.classList.remove('show')
            }
        })
    </script>
</body>

</html>
